* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a:hover {
	text-decoration: none;
}

*:focus {
	outline: none;
	text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: none;
	color: #FFF;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	font-weight: 300;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.col-md-12, .col-xs-12, .col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
}

.nopadding {
	padding-left: 0px;
	padding-right: 0px;	
}

/*-------------------------------------*/
/*---------------MAIN------------------*/
/*-------------------------------------*/

/*---------------HEAD---------------*/

.headmain-width {
	width: 100%;
	height: 100%;
	background-image: url(../img/staticmain.jpg);
	background-repeat:  no-repeat;
	background-size: cover;
	background-position: 0 0;
	transition: 0.6s;
}

header {
	width: 100%;
	background: transparent;

}

.flex-container_head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.head_leftside {
	display: inline-block;
	width: 50%;
}

.logo {
	float: left;
	vertical-align: top;
	width: 126%;
	height: 100%;
	margin-left: -30px;
}

.logo-wrapper {
	display: inline-block;
	padding: 10px 0 0 0;
}

.logo_text {
	display: inline-block;
	padding: 13px 0 0 0;
}

.head_h1 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	font-size: 20px;
	font-family: 'open-sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #C7B482;
}

.object_cost {
	padding: 5px 39px;
	border-radius: 10px;
	border: 1px solid black;
    font-size: 17px;
	text-decoration: none;
	box-shadow: 0px 0px 3px #FE0005, 0px 0px 15px #FE0005;
	border-color: #FE0005;
	border-width: 1px;
    border-style: solid;
    border-color: transparent;
    color: #FFF;
    transition: 0.2s;
}

.object_cost:hover {
	color: #FFF;
	box-shadow: 0px 0px 24px #FE0005, 0px 0px 20px #FE0005;
}

.modal-logo-img {
	width: 150px;
	height: 94px;
	float: right;
}

.modal-width {
	width: 900px;
}

.modal-content {
	background: rgba(150,150,150,0.9);
	padding: 20px;
}

.cost-header {
	padding: 15px;
}

.cost-header p {
	display: inline-block;
}

.cost-header p span {
	font-size: 30px;
}

.modal-body-filter {
	padding-top: 30px;
}

.modal-body-type {
	line-height: 30px;
	padding-left: 4px;
}

.modal_inputs {
	padding: 5px 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 96%;
	color: #333;
	border-radius: 5px;
	border: 1px solid transparent;
	height: 30px;
}

.modal_checkboxes {
	line-height: 37px;
}

.modal_checkbox {
	margin: 0px 10px 0px 0px !important;
}

.modal_inputs_div .modal_inputs {
	margin-bottom: 25px;
}

.cost-button {
	padding: 30px 0;
}

.head_rightside {
	display: inline-block;
	width: 49%;
	padding:20px 15px 0 15px;
	text-align: right;
}

.right-floated {
	float: right;
}

.tel_nopadding {
	padding-right: 0px;
}

.tel_wrapper {
	padding-right: 0px;
	display: inline-block;
	float: right;
	padding-bottom: 2px;
	padding-top: 12px;
}

.tel {
    font-size: 20px;
   	color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
	float: right;
    transition: 0.2s;
}

.tel-text {
	display: block;
	position: relative;
	font-size: 17px;
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    float: right;
    line-height: 22px;
    transition: 0.2s;
}

.tel-text:after {
	content: ' ';
	display: block;
	width: 0%;
	border: 0.7px solid #D4B35D;
	opacity: 0;
	transition: 0.6s;
}

.tel-text:before {
	position: absolute;
	content: ' ';
	display: block;
	width: 100%;
	bottom: 0;
	right: 0;
	border: 0.7px solid #FFF;
	opacity: 1;
	transition: 0.6s;
}

.tel-text:hover:before {
	width: 0%;
	opacity: 0;
}

.tel:hover,
.tel-text:hover {
	color: #D4B35D;
}

.tel-text:hover:after {
	width: 100%;
	opacity: 1;
}

.nav-bar {
	float: right;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}

.mob_open {
	display: none;
}

.flex-container_nav-bar {
	display: flex;
	justify-content: space-between;
}

.nav-panel {
	text-align: right;
}

.open {
	display: inline-block;
	cursor: pointer;
	padding: 7px 0px 0px 10px;
	margin-right: -4px;
}

.open button {
	display: inline-block;
}

.menu_wrapper_head {
	display: inline-block;
}

.menu {
	position: absolute;
    bottom: 0px;
    right: 50px;
	display: inline-block;
	margin-bottom: 10px;
	color: #FFF;
    vertical-align: 10px;
    font-size: 18px;
}

.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 39px;
  height: 32px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 14px;
  left: 4px;
  right: 4px;
  height: 4px;
  background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -11px;
}

.cmn-toggle-switch span::after {
  bottom: -11px;
}

.cmn-toggle-switch__htx {
  background-color: transparent;
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.cmn-toggle-switch__htx.active {
  background-color: transparent;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}

.open_original_color span {
	background: #4B5392;
}

.open_original_color span::before,
.open_original_color span::after {
	background: #4B5392;
}

.burger {
	padding: 8px 10px;
    background-color: transparent;
    border: none;
    position: relative;
    top: 3px;
}

/*.burger_line {
	display: block;
    margin-bottom: 3px;
    width: 24px;
    height: 2px;
    background: #fff;
}*/

.span_menu {
	color: #FFF;
}

.navbar_nav {
	position: absolute;
    right: 44px;
	bottom: -8px;
	z-index: 9999;
	border-radius: 10px;
	padding: 10px 0;
	width: 94%;
	height: 63px;
	overflow: hidden;
}

.navbar_nav img {
	width: 15%;
}

.nav-bar {
	background: transparent;
	text-align: left;
	overflow: hidden;
}

.nav-bar li {
	display: inline-block;
	list-style: none;
	padding-left: 10px;
	transition: 0.2s;
}

.nav-bar li a {
	position: relative;
	display: block;
	color: #FFF;
    line-height: 22px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.nav-bar li a:before {
	content: '';
	position: absolute;
	display: inline-block;
	border: 1px solid #D4B35D;
	width: 0;
	bottom: 0;
	right: 50%;
	transform: rotate(0deg);
	opacity: 0;
	transition: 0.5s;
}

.nav-bar li a:after {
	content: '';
	position: absolute;
	display: inline-block;
	border: 1px solid #D4B35D;
	width: 0;
	left: 50%;
	bottom: 0;
	opacity: 0;
	transition: 0.5s;
}

.nav-bar li a:hover:after,
.nav-bar li a:hover:before {
	width: 50%;
	opacity: 1;
}

/*.nav-bar li {
	display: inline-block;
	list-style: none;
	padding-left: 10px;
	transition: 0.2s;
	overflow: hidden;
}

.nav-bar li a {
	position: relative;
	display: block;
	color: #333;
    line-height: 22px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}*/

#div-nav-bar-mob {

}

.nav-bar-mob li {
	display: block;
	list-style: none;
    padding: 5px 0px;
	transition: 0.2s;
}

.nav-bar-mob li a {
	position: relative;
	display: block;
	color: #FFF;
    line-height: 22px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

/*.nav-bar-mob li a:before {
	content: '';
	position: absolute;
	display: inline-block;
	border: 1px solid #D4B35D;
	width: 0;
	bottom: 0;
	right: 50%;
	transform: rotate(0deg);
	opacity: 0;
	transition: 0.5s;
}

.nav-bar-mob li a:after {
	content: '';
	position: absolute;
	display: inline-block;
	border: 1px solid #D4B35D;
	width: 0;
	left: 50%;
	bottom: 0;
	opacity: 0;
	transition: 0.5s;
}*/

.nav-bar-mob li a:hover:after,
.nav-bar-mob li a:hover:before {
	width: 50%;
	opacity: 1;
}

/*---------------MAIN---------------*/

.main-opacity{
	width: 100%;
/*    background-color: rgba(0,0,0,0.44);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);*/
}

.text-center {
	text-align: center;
}

.main {
	padding-top: 50px;
	padding-bottom: 90px;
}

.main h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 75px;
	text-transform: uppercase;
	color: #FFF;
}

.main h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 50px;
	text-transform: uppercase;
	color: #FFF;
}

.choose-bar-wrapper {
	margin-top: 30px;
	position: relative;
	border: solid 1px #9399C8;
    background-color: #FFFFFF;
    background-color: rgba(100,100,100,0.77);
    display: inline-block;
    padding: 28px;
}

.choose-bar {
	padding-bottom: 20px;
	max-width: 980px;
}

.choose-bar input {
	position: relative;
	width: 85%;
	padding: 5px 20px 5px 10px;
	margin: 20px 40px;
	border-radius: 5px;
	border: 1px solid transparent;
}

.choose-bar select {
	position: relative;
	width: 85%;
	padding: 5px 20px 5px 10px;
    margin: 19px 18px;
	border-radius: 5px;
	background: #FFF;
	border: 1px solid transparent;
}

.choose-bar select option {
	font-weight: 300;
	font-size: 14px;
	width: 100%;
	background: #FFF;
}

.choose-bar .communications {
	text-align: left;
	display: inline-block;
	position: relative;
	width: 85%;
	padding: 5px 20px 5px 10px;
    margin: 19px 18px;
	border-radius: 5px;
	border: 1px solid transparent;
	background-color: #FFF;
}

.choose-bar .communications:after {
	content: "▼";
	padding: 0 8px;
	font-size: 9px;
	position: absolute;
	right: 0px;
	top: 10px;
	z-index: 1;
	text-align: center;
	width: 10%;
	height: 100%;
	pointer-events: none;
	box-sizing: border-box;
}

.metrs input {
	text-align: left;
	position: relative;
	width: 85%;
	padding: 5px 20px 5px 10px;
    margin: 19px 18px;
	border-radius: 5px;
	border: 1px solid transparent;
	background-color: #FFF;
	font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

#slider-div-modal {
    overflow: hidden;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    opacity: 1;
    height: 40%;	
}

#slider-div-modal-1 {
    overflow: hidden;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    opacity: 1;
    height: 40%;		
}

#slider-div {
    overflow: hidden;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    opacity: 1;
    height: 40%;
}

#slider-div-1 {
    overflow: hidden;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    opacity: 1;
    height: 40%;
}

#slider-div-2 {
    overflow: hidden;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    opacity: 1;
    height: 40%;	
}

.slider-range_pos {
	position: absolute;
	bottom: 25%;
	left: 5%;
	width: 90%;
	opacity: 1;
	z-index: 9999;
}

.checkboxes {
	position: absolute;
	bottom: -122px;
	left: 0;
	background: #FFF;
	border-radius: 5px;
	width: 100%;
	z-index: 10;
	opacity: 0;
	transform: scale(0);
	transition-delay: 0.2s; 
}

.checkboxes_transport {
	bottom: -100px;	
}

.checkboxes:after {
    content: '';
    background: #FFF;
    width: 45px;
    height: 45px;
    transform: rotate(45deg);
    position: absolute;
    left: 41%;
    top: 3px;
    z-index: -1;
}

.checkboxes input {
	position: relative;
    width: 10%;
    margin: 5px 30px 0 12px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.checkboxes input:focus {
	outline: none;
}

.choose-bar .communications:hover .checkboxes {
	opacity: 1;
	transform: scale(1);
}

.detailsearch {
	position: absolute;
	display: inline-block;
    right: 3%;
    bottom: 48px;
}

.map {
	display: inline-block;
	position: absolute;
	width: 11%;
    left: 3%;
    right: 0;
    bottom: 48px;
}

.map button {
	color: #FFF;
	text-decoration: underline;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding: 2px 28px;
    border: solid 1px transparent;
    background-color: transparent;
    border-radius: 10px;
}

.detailsearch button {
	color: #FFF;
	text-decoration: underline;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding: 2px 28px;
    border: solid 1px transparent;
    background-color: transparent;
    border-radius: 10px;
}

.choose-bar .input_wrapper {
	position: relative;
}

/*.choose-bar .input_wrapper:after {
	content: '↓';
	position: absolute;
	top: 32%;
	right: 16%;
}*/

.choose-bar button {
	color: #FFF;
	font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
	padding: 2px 28px;
	border: solid 1px #4B5392;
    background-color: #4B5392;
    border-radius: 10px;
}

/*---------------TYPES---------------*/

.types {
	padding: 50px 0 30px 0;
}

.types-width {
	width: 100%;
	background: #FBFAF7 url(../img/back1static.jpg) no-repeat 0 0;
	background-size: cover;
}

.types-opacity {
	background:rgba(255,255,255,0.81);
}

.types h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #363636;
	font-size: 40px;
	text-transform: uppercase;
}

.items {
	padding: 20px 0 0 0;
	text-align: center;
}

.item {
	padding: 0px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 314px;
	float: none;
	margin: 10px;
	transition: 0.5s;
}

.item img {
	width: 100%;
}

.item:after {
	content: '';
	position: absolute;
	border: 3px solid #4B5392;
	width: 0%;
	display: block;
	left: -2%;
	bottom: 25%;
	transition: 0.6s ease-in-out;
}

.item:hover:after {
	width: 102%;
}

.item:hover {
	box-shadow: 0px 5px 15px #363636;
}

.item_text {
	padding: 30px 20px;
	background: rgba(240, 240, 240, 0.7);
	width: 100%;
	height: 82px;
	color: #ffffff;
	font-family: Ubuntu;
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
}

.two-line {
	padding: 23px 20px;
}

.item_text p {
	display: inline-block;
	color: #363636;
	margin: auto auto;
}

.types h3 {
	color: #7E888D;
    line-height: 28px;
    font-size: 23px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.tags li {
	border: 1px solid #7F88C8;
	border-radius: 10px;
	display: inline-block;
	list-style: none;
	text-align: center;
	margin: 5px 5px;
	transition: 0.2s;
}

.tags li:hover {
	box-shadow: 0px 0px 10px #7F88C8;
}

.tags li a {
	display: block;
	text-decoration: none;
	padding: 10px 25px;
	color: #7F88C8;
    line-height: 22px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nomargin {
	margin-left: 0px;
	margin-right: 0px;
}

.more {
	position: relative;
	color: #7F88C8;
	text-align: center;
	margin: 10px;
    line-height: 24px;
    font-size: 20px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
}

.more:after {
    position: absolute;
    bottom: -25px;
    left: 60px;
	content: '>';
	font-size: 25px;
	transform: rotate(90deg);
	display: inline-block;
}

/*---------------OFFERS---------------*/

.offers-width {
	width: 100%;
	background: #FBFAF7 url(../img/back2static.jpg) no-repeat 0 0;
	background-size: cover;
}

.offers-opacity {
	background-color: rgba(75,83,146,0.82);
}

.offers {
	padding: 30px 0 50px 0;
}

.offers h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #FBFAF7;
	font-size: 40px;
	text-transform: uppercase; 
}

.offers-bar {
	padding-top: 50px;
	text-align: center;
}

.offers-item {
	padding: 10px 0;
}

.offers-item_card {
	display: inline-block;
	position: relative;
	background: #FFF;
	z-index: 1;
	width: 351px;
	height: 392px;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.50);
	outline: 1px solid transparent;
}

.offers-item_card:hover {
	background: rgba(75, 83, 146, 0.45);
	color: #fff;
	outline: 1px solid #FFF;
}

.offers-item_card:hover .first-text,
.offers-item_card:hover .second-text,
.offers-item_card:hover .float_right {
	color: #FFF;
}

.offers-item_card img {
	width: 100%;
}

.offers-item_flag {
	position: absolute;
	top: 5px;
	left: -15px;
	width: 198px;
	height: 25px;
	text-align: left;
	background: red;
	padding: 2px 0 0 25px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
    box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
}

.flag-offer {
	width: 75%;
}

.green {
	background: linear-gradient(to right,#008B20 ,#18F256 100%);
}

.offers-item_flag:after{
	position: absolute;
	content: '';
	width: 18px;
	height: 18px;
	background: red;
	right: -9px;
    top: 4px;
	transform: rotate(45deg);
}

.offers-item_flag:before{
	z-index: -1;
	position: absolute;
	content: '';
    width: 37px;
    height: 20px;
	background: red;
    left: 2px;
    top: 21px;
	transform: rotate(45deg);
}

.green:after {
	background-color: #16EA52;
}

.green:before {
	background: linear-gradient(to right,#008B20 ,#18F256 100%);
}

.offers-item_card .text-wrapper {
	padding: 5px 20px;
	text-align: left;
}

.offers-item_card .first-text {
	color: #000;
    line-height: 25px;
    font-size: 21px;
    text-align: left;
    font-family: 'open-sans', sans-serif;
    font-weight: 400;
}

.offers-item_card .second-text {
	color: #7E888D;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid black;
    padding: 22px 0 28px 0;
}

.offers-item_card .link {
	display: inline-block;
	color: #4B5392;
    line-height: 22px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-weight: 700;
}

.offers-item_card .link:after {
	content: ' ';
	margin-top: 4px;
	display: block;
	width: 0%;
	border: 1px solid #FFF;
	opacity: 0;
}

.offers-item_card:hover .link {
	color: #FFF;
}

.offers-item_card:hover .link:after {
	width: 100%;
	opacity: 1;	
}

.offers-item_card .link:hover:after {
	width: 100%;
	opacity: 1;
}

.float_right {
	float: right;
	line-height: 24px;
    font-size: 20px;
    font-family: 'open-sans', sans-serif;
    font-weight: 400;
}

.btn-add {
	padding-top: 10px;
}

.btn-add button {
	color: #FFF;
	font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
	padding: 2px 28px;
	border: solid 1px #FFF;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.5s;
}

.btn-add button:hover {
	background-color: #FFF;
	border: solid 1px transparent;
	color: #4B5392;
}

/*---------------NEWS---------------*/

.news-width {
	width: 100%;
	background: #FBFAF7 url(../img/back3static.png) no-repeat 0 0;
	background-size: cover;
}

.news {
	padding: 20px 0 15px 0;
}

.news h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #363636;
	font-size: 40px;
	text-transform: uppercase;
}

.news-bar {
	padding: 20px 0;
	text-align: center;
}

.new {
	display: inline-block;
	padding: 20px;
	max-width: 275px;
	text-align: left;
	background: #fff;
	border-style: solid;
    border-width: 1px;
    border-color: #7E888D;
    transition: 0.5s;
}

.wrappered {
	border-color: #FE0005;
	border-style: solid;
    border-width: 1px;
}

.new:hover {
	box-shadow: 0px 0px 10px #000;
}

.wrappered:hover {
	box-shadow: 0px 0px 10px #FE0005;
}

.new img {
	max-width: 100%;
}

.new .date {
	padding: 5px 0 0 0;
	color: #7E888D;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.new h3 {
	color: #363636;
    line-height: 20px;
    font-size: 17px;
    text-align: left;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    height: 56px;
    margin-bottom: 0px;
}

.new .new_big_line {
	border-bottom: 1px solid #4B5392;
	width: 60%;
	margin-bottom: 10px;
}

.new .inner_text {
	color: #363636;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding: 0 0 10px 0;
}

.new a {
	text-align: center;
	display: block;
	color: #4B5392;
    line-height: 35px;
    font-size: 16px;
    font-family: 'open-sans', sans-serif;
    font-weight: 700;
    padding: 4px 0px;
	border-style: solid;
    border-width: 1px;
    border-color: #4B5392;
    border-radius: 10px;
    transition: 0.2s;
}

.new a:hover {
	border-color: transparent;
	background: #4B5392;
	color: #FFF;
}

.more_news {
	color: #454A6D;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-decoration: underline;
}

/*---------------FOOTER---------------*/

footer {
	width: 100%;
	background: #363636;
	padding-bottom: 10px;
}

footer .object_cost {
	color: #FFF;
	border-color: #FFF;
	box-shadow: 0px 0px 3px #FFF, 0px 0px 10px #FFF;
}

footer .object_cost:hover {
	color: #FFF;
	border-color: #FFF;
	box-shadow: 0px 0px 5px #FFF, 0px 0px 15px #FFF;
}

footer .tel,
footer .tel-text {
	color: #FFF;
}

footer .nav-bar a {
	color: #EBCA75;
}

footer .tel-text:before {
	border: 0.7px solid #FFF;
}

/*-------------------------------------*/
/*---------------OBJECTS---------------*/
/*-------------------------------------*/

.content-width {
	width: 100%;
	background: #FBFAF7 url(../img/back3static.png) no-repeat 0 0;
	background-size: cover;
}

.content {
	position: relative;
	padding: 50px 0 70px 0;
}

.content h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #363636;
	font-size: 40px;
	text-transform: uppercase;
}

.content h3 {
	font-size: 25px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
}

.content .choose-bar a {
	font-size: 20px;
	color: #FFF;
}

.content .offers-item_card img {
	width: 100%;
	max-height: 192px;
}

.fixed-menu {
	width: 350px;
	height: 100%;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: -300px;
	background: #4B5392;
	transition: 0.2s;
}

.fixed-menu:after {
    content: '';
    background: url(../img/menu.png) no-repeat;
    background-size: cover;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 45%;
    right: 6px;
    transform: rotate(90deg);
    transition: 0.6s;
}

.fixed-menu:hover {
	top: 0;
	left: 0;
}

.fixed-menu:hover:after {
	transform: rotate(0deg);
}

.menu_wrapper {
	padding: 100px 50px 0 10px;
}

.fixed-menu li {
	margin-bottom: 5px; 
}

.fixed-menu a {
	display: block;
	color: #FBFAF7;
    font-family: ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: 0.2s;
}

.fixed-menu a:hover {
	color: #D4B35D;
}

.fixed-menu p {
	font-size: 17px;
    color: #D4B35D;
    font-family: 'open-sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.fixed-menu input {
	border: 1px solid transparent;
	border-radius: 10px;
	width: 100%;
	padding: 2px 0 2px 10px;
	font-size: 17px;
    font-family: 'open-sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.fixed-menu button {
	margin-top: 10px;
	width: 100%;
	background: transparent;
	border: 1px solid #D4B35D;
	border-radius: 10px;
	color: #D4B35D;
	font-size: 17px;
    font-family: 'open-sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
    transition: 0.2s;
}

.fixed-menu button:hover {
	background: #D4B35D;
	border: 1px solid transparent;
	color: #4B5392;
}

.menu_text {
	border-top: 1px solid #FFF;
}

/*-------------------------------------*/
/*---------------OBJECT_UNIC-----------*/
/*-------------------------------------*/

/*-------------------MAIN---------------*/

.main-unic {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navigation {
	text-align: left;
}

.navigation a {
	margin-left: 10px;
	margin-right: 10px;
	color: #363636;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}

.main-unic h2 {
    color: #363636;
    font-family: 'open-sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 20px;
}

.row_images {
	margin: 20px 0;
}

.row_images img {
	margin: 0 10px;
	width: 100%;
	height: 100%;
}

.image_wrapper {
	display: inline-block;
	width: 142px;
	height: 111px;
}

.detail_information {
	padding-top: 20px;
	text-align: left;
	vertical-align: top;
}

.detail_information li {
	list-style: none;
	padding: 5px 10px 5px 0;
}

.detail_information ul {
	display: inline-block;
}

.card_information {
	display: inline-block;
	background: #FBFAF7;
	padding: 10px 20px;
	vertical-align: top;
	margin: 8px;
}

.card_information ul {
	vertical-align: top;
}

.width-cuted {
	max-width: 300px;
}

.vertical-aligned-top {
	vertical-align: top;
}

.font-inc {
	font-size: 24px;
}

.font-inc ul:nth-child(2) {
	font-weight: bold;
	color: #454A6D;
}

.bolded {
	font-weight: bold;
}

.cadastr {
	text-decoration: underline;
}

.padding-decr {
	vertical-align: -20%;
}

.padding-decr li {
	padding: 0px 5px;
}

.question {
	display: inline-block;
	padding: 0 8px;
	font-weight: bold;
	border: 0.6px solid black;
	border-radius: 50%;
}

.li_with_question {
	position: relative;
}

.fade_information {
	position: absolute;
	border-radius: 10px;
	background: #4B5392;
    width: 380px;
    height: 127px;
	z-index: 10;
	top: -137px;
	left: -240px;
	transition: 0.6s;
	transition-delay: 0.5s;
	transition-timing-function: ease-in-out;
	opacity: 0;
	transform: scale(0);
}

.modified {
    top: -138px;
    left: -152px;
}

.fade_information:after {
	content: '';
	position: absolute;
	bottom: -9px;
    right: 111px;
	background: #4B5392;
	height: 25px;
    width: 25px;
	transform: rotate(45deg);
	z-index: -1;
}

.modified:after {
	bottom: -9px;
    right: 61px;	
}

.li_with_question:hover .fade_information {
	opacity: 1;
	transform: scale(1);
}

.fade_information button {
	border: 1px solid #FFF;
	border-radius: 10px;
	background: #FFF;
	color: #363636;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
	padding: 5px 10px;
}

.fade_information li {
	color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
	padding: 10px 20px;
	text-align: center;
	display: block;
	list-style: none;
}

.last-margined {
	margin: -67px 0px 0px 105px;
}

.last-margined ul:first-child li {
	padding: 5px 73px 5px 18px;
}

/*-------------------INTEREST---------------*/

.interest-width {
	width: 100%;
	background: #7F88C8;
}

.interest {
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: top;
}

.interest_text {
	display: inline-block;
	width: 60%;
	font-size: 18px;
    color: #FBFAF7;
    line-height: 30px;
    font-family: 'open-sans-condensed', sans-serif;
    font-weight: 700;
}

.interest_text span {
	font-size: 25px;
}

.input_align {
	vertical-align: 70%;
	display: inline-block;
	width: 39%;
}

.interest_input {
	display: inline-block;
	width: 100%;
	border: 1px solid #FBFAF7;
	border-radius: 10px;
	padding: 5px 10px;
	color: #7E888D;
    font-size: 16px;
    line-height: 35px;
    font-family: 'open-sans', sans-serif;
    font-weight: 700;
}

/*-------------------SIMILAR---------------*/

.similar {
	padding: 30px 0;
}

/*-------------------DROP_CONTACTS---------------*/

.drop_contacts-width {
	width: 100%;
	background: #7F88C8; 
}

.drop_contacts {
	padding-top: 20px;
	padding-bottom: 20px;
}

.drop_contacts .interest_text {
	width: 47%;
	font-size: 23px;
}

.input_align_drop {
	display: inline-block;
	width: 25%;
	padding-right: 10px;
}

.input_align_drop input {
	margin: 12px 0;
}

.drop_contacts button {
	vertical-align: 100%;
	width: 25%;
	background: transparent;
	border: 1px solid #FFE194;
	border-radius: 10px;
	padding: 1px 40px;
	color: #FFE194;
    font-size: 16px;
    line-height: 35px;
    font-family: 'open-sans', sans-serif;
    font-weight: 700;
}



.tags_unic {
	padding-bottom: 40px;
	padding-top: 40px;
}

/*-------------------------------------*/
/*---------------STAFF-----------------*/
/*-------------------------------------*/

.staff {
	padding-bottom: 30px;
}

.p_padding {
	padding: 50px 0px 20px 0px;
}

.main_description {
	color: #363636;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.staff h2 {
	text-align: center;
	color: #363636;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.staff .prompt {
	font-size: 15px;
	text-align: center;
	color: #808080;
	display: none;
}

.staff_bar {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.staff_card {
	position: relative;
	background-color: rgba(147,153,200,0.28);
	padding: 20px 20px;
	text-align: center;
	width: 270px;
	border-radius: 5px;
}

.staff_photo_wrapper {
	display: inline-block;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
}

.staff_photo {
	margin-top: -35px;
}

.staff_name {
	color: #363636;
    font-family: 'open-sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
	height: 84px;
}

.staff_post {
	color: #363636;
    font-family: ubuntu, sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.heighted {
	height: 113px;
}

.staff_contact {
	color: #363636;
    font-family: ubuntu, sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.staff_contact a {
	color: #363636;
	text-decoration: underline;
}

.staff_detail {
	position: absolute;
	padding: 19px 40px;
	text-align: left;
	top: 0;
    right: -336px;
	width: 337px;
	background: #FFF;
	border: 1px solid #4B5392;
	box-shadow: 6px 6px 8px rgba(147,153,200,0.34);
	z-index: 10;
	display: none;
}

.staff_detail_rightside {
	position: absolute;
	padding: 19px 40px;
	text-align: left;
	top: 0;
    left: -336px;
	width: 337px;
	background: #FFF;
	border: 1px solid #4B5392;
	box-shadow: 6px 6px 8px rgba(147,153,200,0.34);
	z-index: 10;
	display: none;
}

.staff_detail_rightside:after {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 20;
	background: #FFF;
	border-top: 1px solid #4B5392;
	border-left: 1px solid #4B5392;
    top: 41px;
    right: -26px;
	transform: rotate(135deg);
}

.staff_carder {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin: 20px 0;
}

.staff_carder:hover .staff_detail,
.staff_carder:hover .staff_detail_rightside {
	display: block;
}

.staff_detail:after {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 20;
	background: #FFF;
	border-top: 1px solid #4B5392;
	border-left: 1px solid #4B5392;
    top: 41px;
    left: -26px;
	transform: rotate(-45deg);
}

.staff_ehd {
	padding: 15px 0;
}

.staff_detail a {
	margin-right: 10px;
}

.staff_detail_rightside a {
	margin-right: 10px;
}

.big_line {
	margin: 7px 0 10px 0;
	width: 100%;
	border: 0.7px solid rgba(147,153,200,0.49);
}

.why-width {
	width: 100%;
	background: url(../img/staff/why/staticmain.jpg) no-repeat 0 0;
	background-size: cover;
}

.why-opacity {
	width: 100%;
	background-color: rgba(0,0,0, 0.44);
}

.why {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.why h2 {
	color: #FFF;
	font-size: 40px;
	font-family: 'open-sans-condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 30px;
}

.why_card {
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 30px;
	display: inline-block;
	color: #FFF;
}

.why_card img {

}

.why_main {
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'open-sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}

.why_descr {
	font-family: 'open-sans', sans-serif;
	font-size: 14px;
}


.color-original {
	color: #4B5392;
}

.color-original_cost:hover {
	color: #4B5392;
    box-shadow: 0px 0px 5px #4B5392, 0px 0px 15px #4B5392;
}

.color-original:before {
	border-color: #4B5392;
}

.color-original li a {
	color: #4B5392;
}

.color-original-border {
	border: 1px solid #4B5392;
	box-shadow: 0px 0px 5px #4B5392;
}


/*-------------------MEDIA---------------*/

@media (min-width: 1200px) {
	
.flex-container {
	justify-content: space-between;
}

.choose-bar-wrapper {
	width: 82%;
}

.logo_text {
	padding-top: 12px;
}

}

@media (max-width: 1199px){

.last-margined {
	margin: 0;
}

.logo {
	width: 100%;
}

.mob_open {
	display: inline-block;
	margin-top: 13px;
}

.open {
	display: none;
}

.menu_wrapper_head {
	display: none;
}

}

@media (max-width: 992px) {

.navbar-nav {
    top:71px;
}

.detailsearch {
	position: relative;
	display: inline-block;
	right: 0;
	bottom: 0;
}

.map {
	position: relative;
	display: block;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.map button {
	display: inline-block;
}

.staff {
	padding-bottom: 30px;
}

.staff_detail {
	position: absolute;
	padding: 19px 40px;
	text-align: left;
	top: 192px;
    right: -28px;
	width: 337px;
	background: #FFF;
	border: 1px solid #4B5392;
	box-shadow: 6px 6px 8px rgba(147,153,200,0.34);
	z-index: 10;
	display: none;
}

.staff_detail_rightside {
	position: absolute;
	padding: 19px 40px;
	text-align: left;
	top: 192px;
    left: -28px;
	width: 337px;
	background: #FFF;
	border: 1px solid #4B5392;
	box-shadow: 6px 6px 8px rgba(147,153,200,0.34);
	z-index: 10;
	display: none;
}

.staff_detail:after,
.staff_detail_rightside:after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	z-index: 20;
	background: #FFF;
	border-top: 1px solid #4B5392;
	border-left: 1px solid #4B5392;
 	top: -13px;
    left: 47%;
	transform: rotate(45deg);	
}

}

@media (max-width: 760px) {

.logo_mob_leftside {
	padding: 0 10px 0 0;
    margin-bottom: 10px;
}

.tel_nopadding {
	padding-right: 0px;
	padding-left: 0px;
}

.logo-wrapper img {
	width: 82px;
    height: 58px;
	margin-left: -20px;
}

.head_h1 {
	font-size: 14px;
}

.object_cost {
	padding: 5px 25px;
	font-size: 13px;
	margin-left: -5px;
}

.tel {
    font-size: 14px;
}

.tel-text {
	font-size: 13px;
}

.flex-container_nav-bar {
}

.item {
	width: 230px;
}

.item:after {
	left: -3%;
	bottom: 27%;
}

.item:hover:after {
	width: 103%;
}

.item img {
	width: 100%;
	height: 214px;
}

.item_text {
	padding-top: 21px;
	color: #ffffff;
	font-family: Ubuntu;
	font-size: 20px;
	font-weight: 300;
}

.item_text p {
	margin: 0;
	height: 100%;
}
.two-line {
	padding-top: 14px;
}

.types h2 {
	font-size: 35px;
}

}

@media (max-width: 531px) {

.modal-width {
	width: auto;
}

.modal-logo-img {
	width: 93px;
    height: 59px;
}

.nav-bar-mob {
	margin-top: 10px;
    margin-left: 0px;
    width: 100%;	
}

.detail_information {
	text-align: center;
}

.card_information {
    padding: 10px 0px;
}

.card_information ul {
	display: inline-block;
	vertical-align: top;
	max-width: 50%;
}

.card_information ul:first-child {
	float: left;
}

.font-inc {
	font-size: 20px;
}

.communs ul {
	display: inline-block;
}

.communs ul .floated_left {
	float: left;
}

.last-margined ul:first-child li {
	padding: 5px 20px 5px 18px;
	font-size: 12px;
}

.last-margined ul:nth-child(2) {
	vertical-align: top;
}

.logo-wrapper img {
	width: 82px;
    height: 58px;
	margin-left: -20px;
}

.head_h1 {
	font-size: 14px;
    padding-left: 5px;
}

.object_cost {
	padding: 5px 25px;
	font-size: 13px;
	margin-left: -88px;
}

.tel {
    font-size: 14px;
}

.tel-text {
	font-size: 13px;
}

.nav-panel {
	text-align: right;
}

.flex-container_nav-bar {
/*    margin-right: -30px;
    margin-left: -30px;*/
}

.nav-bar li a {
	font-size: 14px;
}

.main h2 {
	font-size: 43px;
}

.item {
	width: 149px;
}

.item:after {
	left: -4%;
	bottom: 38%;
}

.item:hover:after {
	width: 104%;
}

.item img {
	width: 100%;
	height: 135px;
}

.item_text {
	padding-top: 20px;
	padding-left: 15px;
	color: #ffffff;
	font-family: Ubuntu;
	font-size: 15px;
	font-weight: 300;
}

.two-line {
	padding-top: 13px;
}

.item_text p {
	margin: 0;
	height: 100%;
}

.last {
	font-size: 13px;
}

.types h2 {
	font-size: 35px;
}

.tags li a {
	padding: 10px 18px;
	font-size: 16px;
}

.offers h2 {
	font-size: 35px;
}

.offers-item_card {
	width: 341px;
}

.fixed-menu {
	left: -350px;
}

.staff .prompt {
	display: block;
}

}