* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	background: #333;
	color: #DDD;
}

.min-height {
	min-height: 100%;
}

.ulpos {
	position: fixed;
	top: 10px;
	right: 20px;
	color: red;
}

.winpos {
	position: fixed;
	top: 50px;
	right: 20px;
	color: blue;
}

.result-width {
	width: 100%;
	background: url(3-min.jpg);
	background-size: cover;
	text-align: center;
	background-position: 0 -100px;
}

.result-width-opcaity {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	background: rgba(0,0,0,0.6);
}

.offset {
	height: 500px;
}

.ul-container{
	display: inline-block;
	text-align: left;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
}

ul {
	padding: 15px 0 30px 50px;
	display: inline-block;
	width: 350px;
}

li {
	text-align: left;
	position: relative;
	list-style-type: none;
	font-size: 18px;
	padding: 20px 0;
}

li:nth-child(1):before {
    content: '';
    width: 35px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 25px/2);
    left: -50px;
    background: url(icons_png/handshake.png) no-repeat;
    background-size: 100%;
}

li:nth-child(2):before {
    background: url(icons_png/piggy-bank.png) no-repeat;
    content: '';
    width: 27px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 37px/2);
    left: -46px;
    background-size: 100%;
}

li:nth-child(3):before {
	background: url(icons_png/sharing.png) no-repeat;
	content: '';
    width: 34px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 30px/2);
    left: -50px;
    background-size: 100%;
}

li:nth-child(4):before {
    background: url(icons_png/head.png) no-repeat;
    content: '';
    width: 30px;
    height: 36px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 36px/2);
    left: -47px;
    background-size: 100%;
}

li:nth-child(5):before {
    background: url(icons_png/settings.png) no-repeat;
    content: '';
    width: 28px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 35px/2);
    left: -44px;
    background-size: 100%;
}

ul li div {
	position: absolute;
}

.line1 {
	/*width: 220px;*/
	width: 0px;
	height: 1px;
	background: #FFF;
	bottom: 10px;
}

.line2 {
	/*width: 10px;*/
	width: 0px;
    height: 1px;
    background: #FFF;
    transform: rotate(-45deg);
    left: 218px;
    bottom: 13px;
}

.line3 {
	/*width: 20px;*/
	width: 0px;
	height: 1px;
	background: #FFF;
	    left: 226px;
    bottom: 16px;
}

.line1-1 {
	/*width: 220px;*/
	width: 0px;
	height: 1px;
	background: #FFF;
	bottom: 10px;
}

.line2-1 {
	/*width: 10px;*/
	width: 0px;
    height: 1px;
    background: #FFF;
    transform: rotate(-45deg);
    left: 398px;
    bottom: 13px;
}

.line3-1 {
	/*width: 20px;*/
	width: 0px;
	height: 1px;
	background: #FFF;
	left: 406px;
    bottom: 16px;
}

.number1 {
	font-size: 18px;
	color: rgba(207, 182, 88, 1);
    left: 227px;
    bottom: 15px;
    display: none;
    font-weight: bold;
}

.number2 {
	font-size: 18px;
	color: rgba(207, 182, 88, 1);
    left: 227px;
    bottom: 15px;
    display: none;
    font-weight: bold;
}

.number3 {
	font-size: 18px;
	color: rgba(207, 182, 88, 1);
    left: 227px;
    bottom: 15px;
    display: none;
    font-weight: bold;
}

.number4 {
	font-size: 18px;
	color: rgba(207, 182, 88, 1);
    left: 227px;
    bottom: 15px;
    display: none;
    font-weight: bold;
}

.number5 {
	font-size: 18px;
	color: rgba(207, 182, 88, 1);
    left: 407px;
    bottom: 15px;
    display: none;
    font-weight: bold;
}

footer {
	background: #333;
	height: 200px;
}

footer h1 {
	color: #FFF;
}