* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "roboto_ltregular";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "robotobold";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 500;
  font-style: normal; }

html {
  height: 100%;
  font-size: 16px;
  font-family: 'roboto_ltregular'; }

body {
  min-height: 100%; }

input {
  outline: none; }

p {
  margin-bottom: 0px; }

.wrapper {
  max-width: 698px;
  margin: 0 auto;
  width: 100%;
  line-height: 1.35; }
  .wrapper h1 {
    margin-bottom: 40px;
    font-weight: 700; }
  .wrapper .description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px; }
    .wrapper .description img {
      margin-right: 20px; }
    .wrapper .description ul li {
      list-style: none;
      margin: 5px 0;
      font-size: 18px; }
      .wrapper .description ul li img {
        height: 20px;
        width: 20px; }
  .wrapper .main .table__head ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .wrapper .main .table__head ul li {
      list-style: none;
      padding: 10px 0;
      text-align: center;
      border: 2px solid #999;
      -webkit-border-radius: 5px 5px 0 0;
              border-radius: 5px 5px 0 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer; }
      .wrapper .main .table__head ul li:nth-child(2) {
        border-left: none;
        border-right: none; }
  .wrapper .main .table__head .active {
    color: orange; }
  .wrapper .main .table__body {
    padding: 20px 0; }
    .wrapper .main .table__body .table__main {
      display: none; }
      .wrapper .main .table__body .table__main .flex-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin: 20px 0; }
        .wrapper .main .table__body .table__main .flex-wrapper .category {
          color: #333;
          padding: 20px 15px;
          width: 31%;
          margin: 5px;
          text-align: center;
          font-size: 16px;
          font-weight: 700;
          background: #f8eca5;
          position: relative;
          overflow: hidden;
          cursor: pointer; }
          .wrapper .main .table__body .table__main .flex-wrapper .category p {
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
          .wrapper .main .table__body .table__main .flex-wrapper .category:before {
            content: '';
            width: 100%;
            height: 10px;
            position: absolute;
            bottom: -10px;
            left: 0;
            background: orange;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
          .wrapper .main .table__body .table__main .flex-wrapper .category:last-child {
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                    flex: 1 1 auto; }
          .wrapper .main .table__body .table__main .flex-wrapper .category:hover:before {
            bottom: 0px; }
          .wrapper .main .table__body .table__main .flex-wrapper .category:hover p {
            -webkit-transform: translate(0, -10%);
                -ms-transform: translate(0, -10%);
                    transform: translate(0, -10%);
            color: orange; }
      .wrapper .main .table__body .table__main .description {
        font-size: 16px; }
      .wrapper .main .table__body .table__main .table__main__nav ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%; }
        .wrapper .main .table__body .table__main .table__main__nav ul li {
          list-style: none;
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          text-align: center;
          border: 1px solid #999;
          padding: 5px 0;
          -webkit-border-radius: 10px 10px 0 0;
                  border-radius: 10px 10px 0 0;
          margin-right: 3px;
          font-size: 18px;
          background: #DDD;
          cursor: pointer; }
          .wrapper .main .table__body .table__main .table__main__nav ul li:last-child {
            margin-right: 0px; }
        .wrapper .main .table__body .table__main .table__main__nav ul .active {
          color: red; }
    .wrapper .main .table__body .table__main__active {
      display: block; }
    .wrapper .main .table__body .table {
      display: none; }
    .wrapper .main .table__body .table__active {
      display: block;
      overflow: visible; }
    .wrapper .main .table__body table {
      -webkit-border-radius: 10px 10px 0 0;
              border-radius: 10px 10px 0 0; }
      .wrapper .main .table__body table thead {
        -webkit-border-radius: 10px 10px 0 0;
                border-radius: 10px 10px 0 0; }
      .wrapper .main .table__body table th {
        text-align: center;
        vertical-align: top;
        background: #f8eca5;
        padding: 5px 10px; }
        .wrapper .main .table__body table th:first-child {
          -webkit-border-radius: 10px 0 0 0;
                  border-radius: 10px 0 0 0; }
        .wrapper .main .table__body table th:last-child {
          -webkit-border-radius: 0 10px 0 0;
                  border-radius: 0 10px 0 0; }
      .wrapper .main .table__body table tbody tr:nth-child(2n) {
        background: #DDD; }
      .wrapper .main .table__body table tbody tr td {
        text-align: center;
        font-weight: 700;
        padding: 5px 10px; }
        .wrapper .main .table__body table tbody tr td:last-child {
          color: #333;
          position: relative; }
          .wrapper .main .table__body table tbody tr td:last-child:hover .inner {
            display: block; }
        .wrapper .main .table__body table tbody tr td:first-child {
          background: #f8eca5;
          border-right: 1px solid #000; }
        .wrapper .main .table__body table tbody tr td .inner {
          display: none;
          position: absolute;
          width: 220px;
          height: 170px;
          background: #FFF;
          border: 1px solid #000;
          -webkit-box-shadow: 0px 5px 10px 0px #777;
                  box-shadow: 0px 5px 10px 0px #777;
          padding: 10px 5px 10px 15px;
          z-index: 100;
          text-align: left;
          top: 0%;
          left: 100%;
          -webkit-border-radius: 5px;
                  border-radius: 5px; }
          .wrapper .main .table__body table tbody tr td .inner:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: #FFF;
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
            top: 11px;
            left: -11px;
            z-index: 110;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000; }
          .wrapper .main .table__body table tbody tr td .inner ul li {
            list-style: none;
            margin-bottom: 5px; }
  .wrapper .main__mini-tables {
    padding: 40px 0; }
    .wrapper .main__mini-tables .main__row {
      padding: 30px 0 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-top: 1px solid #999; }
      .wrapper .main__mini-tables .main__row:first-child {
        border-bottom: none; }
      .wrapper .main__mini-tables .main__row:last-child {
        border-top: 1px solid #999;
        border-bottom: 1px solid #999; }
      .wrapper .main__mini-tables .main__row .mini-table {
        text-align: center; }
        .wrapper .main__mini-tables .main__row .mini-table .head {
          font-size: 20px;
          color: orange; }
        .wrapper .main__mini-tables .main__row .mini-table table {
          -webkit-border-radius: 8px;
                  border-radius: 8px; }
          .wrapper .main__mini-tables .main__row .mini-table table thead th {
            background: #f8eca5;
            padding: 5px;
            text-align: center; }
            .wrapper .main__mini-tables .main__row .mini-table table thead th:first-child {
              -webkit-border-radius: 10px 0 0 0;
                      border-radius: 10px 0 0 0; }
            .wrapper .main__mini-tables .main__row .mini-table table thead th:last-child {
              -webkit-border-radius: 0 10px 0 0;
                      border-radius: 0 10px 0 0; }
          .wrapper .main__mini-tables .main__row .mini-table table tbody tr td {
            padding: 5px 4px;
            background: #DDD; }
  .wrapper .footer__for-btn {
    margin: 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .wrapper .footer__for-btn .text_wrapper {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      .wrapper .footer__for-btn .text_wrapper p {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 20px; }
    .wrapper .footer__for-btn .btn_wrapper {
      margin-left: 20px; }
      .wrapper .footer__for-btn .btn_wrapper button {
        padding: 10px 60px;
        white-space: nowrap;
        background: #f8eca5;
        border: 1px solid #DDD;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        color: #333;
        outline: none;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease; }
        .wrapper .footer__for-btn .btn_wrapper button:hover {
          background: #f4e276; }

.modal .modal-content {
  position: relative; }

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px; }

.modal h5 {
  font-size: 28px;
  font-weight: 700; }

.modal .name_field {
  margin: 20px 0 10px;
  font-size: 20px;
  font-weight: 700; }

.modal input {
  height: 40px;
  width: 100%;
  border: 1px solid #999;
  background: #FFF;
  padding: 5px 10px; }

.modal textarea {
  width: 100%;
  height: 80px; }

.modal .checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  margin-bottom: 2px; }

.modal .btn-primary {
  background: #f8eca5;
  border: 1px solid #999;
  color: #333;
  font-weight: 700;
  font-size: 18px;
  outline: none; }
  .modal .btn-primary:active {
    background: #f8eca5;
    color: #333;
    outline: none;
    border: 1px solid #999; }
