* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Museo sans";
  src: url(../fonts/MuseoSansCyrl.otf);
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Museo sans bold";
  src: url(../fonts/MuseoSansCyrl_3.otf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100%; }

body {
  background: #FFF;
  height: 100%; }

input {
  outline: none; }

.wrapper {
  min-height: 100%;
  font-family: "Museo sans", sans-serif;
  font-size: 14px;
  overflow: hidden; }

.header {
  height: 148px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 15px 0px #999;
          box-shadow: 0px 0px 15px 0px #999; }

.main {
  margin: 55px auto 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%; }

.main__head {
  font-size: 36px;
  font-weight: 700;
  font-family: "Museo sans bold";
  letter-spacing: 3px; }

.red {
  color: #CD213B;
  font-weight: 900; }

.main__left {
  margin-right: 50px; }
  .main__left ul {
    padding: 20px; }
    .main__left ul li {
      list-style: none;
      padding: 5px 0; }
      .main__left ul li img {
        margin-right: 10px; }

.main__btn {
  margin-top: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .main__btn p {
    font-size: 18px; }

.rubl {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

button {
  width: 176px;
  height: 44px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  color: #FFF;
  font-size: 14px;
  border: none;
  background: #CD213B;
  margin-right: 25px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  button:hover {
    -webkit-box-shadow: 0px 5px 15px 0px #999;
            box-shadow: 0px 5px 15px 0px #999;
    -webkit-transform: translate(0, -3px);
        -ms-transform: translate(0, -3px);
            transform: translate(0, -3px); }

.main__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.main__right__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.main__right__top__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main__right__top__wrapper p {
    padding: 10px 0 0 0;
    text-align: center;
    white-space: nowrap; }

.flexbox-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .flexbox-wrapper img {
    height: 50px; }

.main__right__middle {
  position: relative; }

.main__tooltip {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: rgba(152, 197, 74, 0.7);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0; }
  .main__tooltip:before {
    content: '';
    background: url(../img/icons/cross.png) no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%) rotate(45deg);
        -ms-transform: translate(-50%, -55%) rotate(45deg);
            transform: translate(-50%, -55%) rotate(45deg);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
  .main__tooltip:hover:before {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .main__tooltip:hover .main__tooltip__description {
    display: block; }

.tooltip1 {
  top: 27%;
  left: 14%; }

.tooltip2 {
  top: 70%;
  left: 11%; }

.tooltip3 {
  top: 55%;
  left: 40%; }

.tooltip4 {
  top: 50%;
  left: 90%; }

.main__tooltip__description {
  display: none;
  background: #FFF;
  z-index: 100;
  top: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -120%);
      -ms-transform: translate(-50%, -120%);
          transform: translate(-50%, -120%);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 10px 20px;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0px 0px 10px 0px #DDD;
          box-shadow: 0px 0px 10px 0px #DDD;
  text-align: center; }
  .main__tooltip__description:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 50%) rotate(45deg);
        -ms-transform: translate(-50%, 50%) rotate(45deg);
            transform: translate(-50%, 50%) rotate(45deg);
    width: 20px;
    height: 20px;
    background: #FFF;
    z-index: 100;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    -webkit-box-shadow: 4px 4px 10px 0px #DDD;
            box-shadow: 4px 4px 10px 0px #DDD; }
  .main__tooltip__description p:first-child {
    margin-bottom: 10px; }

.green-section {
  background: url(../img/green-background.png) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .green-section p {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Museo sans bold'; }

.facades {
  width: 100%;
  height: 500px; }

.facades__left {
  background: url(../img/facades.png) no-repeat top right;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin-right: 40px; }

.facades__right {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding-right: 132px; }

.facades__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000; }

.facades__right__nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #CD213B; }
  .facades__right__nav ul li {
    display: inline-block;
    padding: 10px 0;
    cursor: pointer; }

.facades__active {
  font-weight: 700;
  border-bottom: 3px solid #CD213B; }

.facades__right__main {
  display: none;
  padding: 15px 0 15px 15px; }
  .facades__right__main ul {
    padding-top: 30px; }
    .facades__right__main ul li {
      list-style: inside;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 500;
      line-height: 25px; }

.facades__main__active {
  display: block; }

.genplan__left {
  margin-right: 40px; }

.genplan__text {
  font-size: 18px;
  margin-bottom: 40px; }

.genplan__table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.table__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 49%;
      -ms-flex: 1 1 49%;
          flex: 1 1 49%;
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .table__item svg {
    margin-right: 20px; }
  .table__item:first-child {
    border-right: 1px solid #E2DDDD;
    border-bottom: 1px solid #E2DDDD; }
  .table__item:nth-child(even) {
    border-bottom: 1px solid #E2DDDD; }
    .table__item:nth-child(even) svg {
      margin-left: 20px; }
  .table__item:nth-child(odd) {
    border-right: 1px solid #E2DDDD;
    border-bottom: 1px solid #E2DDDD; }
  .table__item:last-child {
    border-bottom: none; }
  .table__item:nth-child(5) {
    border-bottom: none; }

.genplan__left__download {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }
  .genplan__left__download svg {
    margin-right: 20px; }

.download__text {
  color: #727272;
  border-bottom: 1px solid #727272;
  font-size: 14px; }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contacts__left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin-right: 30px; }

.contacts__right {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.contacts__form {
  width: 384px;
  margin-left: auto; }

.form__head {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700; }

.form__descr {
  margin-bottom: 30px; }

.form__input span {
  display: block;
  margin-bottom: 5px;
  font-size: 12px; }

.form__input input {
  width: 100%;
  background: #FFF;
  border: 1px solid #DADADA;
  padding: 10px;
  margin-bottom: 5px;
  height: 36px; }

.form__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px; }
  .form__bottom button {
    margin-right: 40px; }
  .form__bottom a {
    color: #6F6F6F; }

ymaps.ymaps-2-1-69-balloon__layout {
  background: rgba(146, 193, 0, 0.3);
  background: #FFF; }

ymaps.ymaps-2-1-69-balloon__content {
  background: transparent; }

ymaps.ymaps-2-1-69-balloon__tail {
  display: block;
  -webkit-box-shadow: unset;
          box-shadow: unset; }

.balloon__head {
  font-size: 18px;
  font-family: 'Museo sans bold'; }

.balloon__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0; }
  .balloon__body a {
    color: #333;
    border-bottom: 1px solid #333;
    text-decoration: none;
    font-family: 'Museo sans'; }
  .balloon__body .green {
    color: #92c100;
    border-bottom: none; }

.balloon__footer {
  color: #000;
  font-size: 14px; }

footer {
  height: 350px;
  width: 100%;
  background: #333; }

.facades__active__arrow-prev, .facades__active__arrow-next {
  display: none; }

.contacts__center {
  display: none; }

@media screen and (max-width: 1200px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
  .main__left {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0px;
    margin-bottom: 20px; }
    .main__left ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding: 20px 0; }
      .main__left ul li {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 50%;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        font-size: 11px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
  .main__head {
    font-size: 24px;
    text-align: center;
    margin-bottom: 150px;
    letter-spacing: unset; }
  .main__right {
    padding: 78px 0 0 0;
    position: absolute;
    z-index: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    padding-bottom: 20px; }
  .main__right__top__wrapper p {
    font-size: 12px; }
  .main__right__middle {
    height: 140px; }
    .main__right__middle img {
      height: 100%; }
  .main__tooltip {
    display: none; }
  .main__right__top {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .main__btn {
    width: 100%; }
    .main__btn button {
      width: 150px; }
    .main__btn p {
      display: none; }
  .green-section {
    text-align: center;
    height: 68px; }
    .green-section p {
      font-size: 14px;
      line-height: 17px; }
  .facades {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto 30px;
    height: unset; }
  .facades__left {
    height: 140px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-box-flex: unset;
    -webkit-flex: unset;
        -ms-flex: unset;
            flex: unset;
    margin-right: 0px;
    margin-left: 20px;
    background: url(../img/facades-mob.png) no-repeat top center; }
  .facades__right {
    padding-right: 0px;
    -webkit-box-flex: unset;
    -webkit-flex: unset;
        -ms-flex: unset;
            flex: unset; }
  .facades__text {
    display: none; }
  .facades__right__nav ul {
    border: none;
    position: relative; }
    .facades__right__nav ul li {
      width: 95%;
      text-align: center;
      display: none;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      margin: 0 auto; }
    .facades__right__nav ul .facades__active {
      display: block;
      border: 1px solid #CD213B; }
  .facades__active__arrow-prev, .facades__active__arrow-next {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 10%;
    cursor: pointer; }
  .facades__active__arrow-next {
    right: 10%;
    left: unset; }
  .genplan {
    margin: 55px auto 0;
    padding-bottom: 100px; }
  .genplan__left {
    margin-right: 0px; }
  .genplan__text {
    text-align: center; }
  .genplan__table {
    display: none; }
  .genplan__right {
    width: 100%; }
    .genplan__right img {
      width: 100%; }
  .genplan__left__download {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0px 0 30px; }
  .contacts__left {
    margin-right: 0px;
    width: 95%;
    margin: 0 auto;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .contacts__form {
    width: 100%;
    padding: 20px 0 0 0;
    text-align: center; }
  .form__input span {
    text-align: left; }
  .form__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .form__bottom button {
      margin-right: 0px;
      margin-bottom: 20px; }
  .contacts__center {
    display: block;
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .contacts__right {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; } }

@media screen and (max-width: 485px) {
  .main__head {
    font-size: 24px;
    text-align: center;
    margin-bottom: 100px;
    letter-spacing: unset; } }
